{% extends 'base_template.html' %}
{% load static %}
{% block body %}
    <form method="get">
        <p><label for="height" >Высота</label> <input name="height" value="{{ height }}"></p>
        <p><label for="width">Ширина</label><input name="width" value="{{ width }}"></p>
        </p><label for="size">Размер</label><input name="size">
    <button type="submit">Применить</button>
    </form>
    <img src="{{ object.image.url }}" height="{{ height }}px;" width="{{ width }}px;">

{% endblock %}